@font-face {
  font-family: Inter;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Inter");
  src: url("../assets/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Inter");
  src: url("../assets/fonts/Inter-SemiBold.woff2") format("woff2");
}

.layout {
  overflow: hidden;

  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  font-family: Inter, sans-serif;

  background-color: #f9f9f9;
}

.layout__list {
  display: grid;
  grid-template-areas:
    "head item2 item2 item3 item4"
    "head item2 item2 item5 item6"
    "description item8 item9 item5 item10";
  grid-template-columns: 458px 199px 165px 226px 232px;
  grid-template-rows: 288px 185px 247px;

  max-width: 1280px;
  margin: 0 auto;
  padding: 0;

  list-style-type: none;
}

.layout__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout__head {
  display: flex;
  grid-area: head;
  flex-direction: column;
}

.layout__title {
  display: block;

  width: 330px;
  margin: 125px auto 136px;

  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
}

.social {
  display: flex;
  gap: 24px;

  margin-left: 158px;
  padding: 0;

  list-style-type: none;
}

.social__link {
  display: block;
  height: 23px;
  background-position: center;
}

.social__link_inst {
  width: 23px;
  background-image: url("../assets/icons/inst.svg");
}

.social__link_tel {
  width: 23px;
  background-image: url("../assets/icons/tel.svg");
}

.social__link_mail {
  width: 29px;
  background-image: url("../assets/icons/mail.svg");
}

.layout__description {
  display: flex;
  grid-area: description;

  margin: 0;

  font-size: 18px;
  font-weight: 300;
  line-height: 125%;
  color: #f2f2f2;

  background-color: #828282;
}

.layout__text {
  display: block;
  width: 345px;
  margin-top: 95px;
  margin-left: 65px;
}

.layout__item2 {
  grid-area: item2;
}

.layout__item3 {
  grid-area: item3;
}

.layout__item4 {
  grid-area: item4;
}

.layout__item5 {
  grid-area: item5;
}

.layout__item6 {
  grid-area: item6;
  background-color: #a61c1c;
}

.layout__item8 {
  grid-area: item8;
}

.layout__item9 {
  grid-area: item9;
  background-color: #a6806b;
}

.list__item10 {
  grid-area: item10;
}

@media (width <= 1279px) {
  .layout__list {
    grid-template-columns: 36% 15.5% 13% 17.5% 18%;
  }

  .layout__head {
    align-items: center;
    justify-content: space-evenly;
  }

  .layout__title,
  .social {
    margin: 0;
  }

  .layout__description {
    align-items: center;
    justify-content: center;
  }

  .layout__text {
    width: 300px;
    margin: 0;
  }
}

@media (width <= 991px) {
  .layout {
    overflow-y: scroll;
  }

  .layout__list {
    grid-template-areas:
      "head head description description"
      "item2 item2 item3 item4"
      "item2 item2 item5 item6"
      "item8 item9 item5 item10";
    grid-template-columns: 24.5% 22% 25.9% 28.5%;
    grid-template-rows: 288px 288px 185px 247px;
  }

  .layout__title {
    width: 250px;
    margin: 0;
    font-size: 48px;
  }
}

@media (width <= 699px) {
  .layout__list {
    grid-template-areas:
      "head description description"
      "item2 item2 item4"
      "item2 item2 item5"
      "item8 item9 item5"
      "item6 item3 item10";
    grid-template-columns: 31% 34% 35%;
    grid-template-rows: 200px 288px 185px 247px 247px;
  }

  .layout__title {
    width: 155px;
    font-size: 30px;
  }
}

@media (width <= 549px) {
  .layout__list {
    grid-template-areas:
      "head head"
      "description description"
      "item2 item2"
      "item8 item9"
      "item3 item4"
      "item5 item6"
      "item5 item10";
    grid-template-columns: 49% 51%;
    grid-template-rows: 150px 150px 473px 247px 288px 165px 247px;
  }

  .layout__head {
    flex-direction: row;
    justify-content: space-between;
    margin: auto 40px;
  }

  .layout__text {
    width: 100%;
    margin: auto 40px;
  }
}

@media (width <= 420px) {
  .layout__list {
    grid-template-rows: 160px 150px 473px 247px 288px 60px 247px;
  }

  .layout__head {
    flex-direction: column;
    gap: 32px;
  }

  .layout__text {
    font-size: 16px;
  }
}
